mplfinance==0.12.9b1
matplotlib==3.5.1
tzlocal
ccxt==1.66.90
inky==1.4.0
watchdog==2.1.6
numpy==1.22.2
Pillow==10.3.0
yfinance==0.1.84
Flask==2.2.5
git+https://github.com/waveshare/e-Paper.git#subdirectory=RaspberryPi_JetsonNano/python&egg=waveshare-epd
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
