<!DOCTYPE html>
<html lang="en">
    <head>
        <title>🤖 Bitbot</title>
        <meta name="viewport" content="width=device-width">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.6/dialog-polyfill.min.css" integrity="sha512-J2+1q+RsZuJXabBfH1q/fgRr6jMy9By5SwVLk7bScEW7NFJkMUXxfeOyyxtDe6fsaJ4jsciexSlGrPYn9YbBIg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.5.6/dialog-polyfill.min.js" integrity="sha512-qUIG93zKzcLBVD5RGRbx2PBmbVRu+tJIl+EPLTus0z8I1AMru9sQYdlf6cBacSzYmZVncB9rcc8rYBnazqgrxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <style>
            .editableFiles {
                list-style-type: none;
                margin-left: 0;
                padding-left: 0;
            }
            .editableFiles li { 
                margin: 10px 0;
                padding-left: 1em;
                text-indent: -1em;
            }
            .editableFiles li:before {
                content: "📝";
                padding-right: 5px;
            }
        </style>
    </head>
    <body>
        <div class="event-log"></div>

        <h1>🤖 BitBot Config</h1>
        <section>
            <h2>⚙️ Application Config</h2>
            <hr/>
            <p>Edit 'config.ini' to set the exchange, currency, screen refresh, overlay and layout options</p>
            <ul class="editableFiles">
            {% for file in ini_files %}
                <li>
                    <a onclick="return editFile(this)" href="/file/{{file}}">{{file}}</a>
                    <dialog closed></dialog>
                </li>
            {% endfor %}
            </ul>
        </section>
        <section>
            <h2 class="collapser">📸 Picture Mode</h2>
            <hr/>
            <p>Have Bitbot diplay a picture of your choice</p>
            <form enctype='multipart/form-data' method='post' action="/modes/picture">
                <label for="enable_picture_mode">Enabled:</label>
                <input type="checkbox" id="enable_picture_mode" name="enable_picture_mode" value="true" {{"checked" if config.photo_mode_enabled() else ""}}></imput>
                <label for="cycle_pictures">Cycle:</label>
                <input type="checkbox" id="cycle_pictures" name="cycle_pictures" value="true" {{"checked" if config.cycle_pictures_enabled() else ""}}></imput>
                <input type="file" id="img" name="image_file" accept="image/*" />
                <input type="submit"/>
            </form>
        </section>
        <section>
            <h2>📈 Chart Styles</h2>
            <hr/>
            <p>These files manage the colours and layout of the chart plot, they are matplolib style files and follow the <a href="https://matplotlib.org/stable/tutorials/introductory/customizing.html#the-default-matplotlibrc-file">example defined here</a></p>
            <ul class="editableFiles">
            {% for file in style_files %}
                <li>
                    <a onclick="return editFile(this)" href="/file/{{file}}">{{file}}</a>
                    <dialog closed></dialog>
                </li>
            {% endfor %}
            </ul>
        </section>
        <section>
            <h2>🌳 Logs</h2>
            <hr/>
            <p>Check here if something isn't working!</p>
            <textarea rows="10" id="log_output" data-source="{{ url_for('logs') }}"></textarea>
        </section>
        <script src="/static/config_editor.js"></script>
    </body>
</html>