<div>
    <img height="100" src="../tests/images/APPLE 1mo defaults.png">
    <img height="100" src="../tests/images/APPLE 3mo defaults.png">
    <img height="100" src="../tests/images/BTC EXPANDED.png">
    <img height="100" src="../tests/images/BTC HOLDINGS.png">
    <img height="100" src="../tests/images/BTC OVERLAY2.png">
    <img height="100" src="../tests/images/BTC VOLUME EXPANDED.png">
    <img height="100" src="../tests/images/BTC VOLUME OVERLAY2.png">
    <img height="100" src="../tests/images/BTC VOLUME.png">
    <img height="100" src="../tests/images/bitmex BTC 1d defaults.png">
    <img height="100" src="../tests/images/bitmex BTC 1h defaults.png">
    <img height="100" src="../tests/images/bitmex BTC 5m defaults.png">
    <img height="100" src="../tests/images/bitmex ETH 1d defaults.png">
    <img height="100" src="../tests/images/bitmex ETH 1h defaults.png">
    <img height="100" src="../tests/images/bitmex ETH 5m defaults.png">
    <img height="100" src="../tests/images/cryptocom CRO 1d defaults.png">
    <img height="100" src="../tests/images/cryptocom CRO 1h defaults.png">
    <img height="100" src="../tests/images/cryptocom CRO 5m defaults.png">
</div>


