# 👀 Emulated device images

## inky impression 5.7"
<div>
    <img height="100" src="../tests/images/test_640,480_test_640,480_APPLE 1mo defaults.png">
    <img height="100" src="../tests/images/test_640,480_APPLE 3mo defaults.png">
    <img height="100" src="../tests/images/test_640,480_BTC EXPANDED.png">
    <img height="100" src="../tests/images/test_640,480_BTC HOLDINGS.png">
    <img height="100" src="../tests/images/test_640,480_BTC OVERLAY2.png">
    <img height="100" src="../tests/images/test_640,480_BTC VOLUME EXPANDED.png">
    <img height="100" src="../tests/images/test_640,480_BTC VOLUME OVERLAY2.png">
    <img height="100" src="../tests/images/test_640,480_BTC VOLUME.png">
    <img height="100" src="../tests/images/test_640,480_bitmex BTC 1d defaults.png">
    <img height="100" src="../tests/images/test_640,480_bitmex BTC 1h defaults.png">
    <img height="100" src="../tests/images/test_640,480_bitmex BTC 5m defaults.png">
    <img height="100" src="../tests/images/test_640,480_bitmex ETH 1d defaults.png">
    <img height="100" src="../tests/images/test_640,480_bitmex ETH 1h defaults.png">
    <img height="100" src="../tests/images/test_640,480_bitmex ETH 5m defaults.png">
    <img height="100" src="../tests/images/test_640,480_cryptocom CRO 1d defaults.png">
    <img height="100" src="../tests/images/test_640,480_cryptocom CRO 1h defaults.png">
    <img height="100" src="../tests/images/test_640,480_cryptocom CRO 5m defaults.png">
</div>


## inky 4.2"
<div>
    <img height="100" src="../tests/images/test_400,300__APPLE 1mo defaults.png">
    <img height="100" src="../tests/images/test_400,300_APPLE 3mo defaults.png">
    <img height="100" src="../tests/images/test_400,300_BTC EXPANDED.png">
    <img height="100" src="../tests/images/test_400,300_BTC HOLDINGS.png">
    <img height="100" src="../tests/images/test_400,300_BTC OVERLAY2.png">
    <img height="100" src="../tests/images/test_400,300_BTC VOLUME EXPANDED.png">
    <img height="100" src="../tests/images/test_400,300_BTC VOLUME OVERLAY2.png">
    <img height="100" src="../tests/images/test_400,300_BTC VOLUME.png">
    <img height="100" src="../tests/images/test_400,300_bitmex BTC 1d defaults.png">
    <img height="100" src="../tests/images/test_400,300_bitmex BTC 1h defaults.png">
    <img height="100" src="../tests/images/test_400,300_bitmex BTC 5m defaults.png">
    <img height="100" src="../tests/images/test_400,300_bitmex ETH 1d defaults.png">
    <img height="100" src="../tests/images/test_400,300_bitmex ETH 1h defaults.png">
    <img height="100" src="../tests/images/test_400,300_bitmex ETH 5m defaults.png">
    <img height="100" src="../tests/images/test_400,300_cryptocom CRO 1d defaults.png">
    <img height="100" src="../tests/images/test_400,300_cryptocom CRO 1h defaults.png">
    <img height="100" src="../tests/images/test_400,300_cryptocom CRO 5m defaults.png">
</div>


## waveshare 2.7
<div>
    <img height="100" src="../tests/images/test_264,176__APPLE 1mo defaults.png">
    <img height="100" src="../tests/images/test_264,176_APPLE 3mo defaults.png">
    <img height="100" src="../tests/images/test_264,176_BTC EXPANDED.png">
    <img height="100" src="../tests/images/test_264,176_BTC HOLDINGS.png">
    <img height="100" src="../tests/images/test_264,176_BTC OVERLAY2.png">
    <img height="100" src="../tests/images/test_264,176_BTC VOLUME EXPANDED.png">
    <img height="100" src="../tests/images/test_264,176_BTC VOLUME OVERLAY2.png">
    <img height="100" src="../tests/images/test_264,176_BTC VOLUME.png">
    <img height="100" src="../tests/images/test_264,176_bitmex BTC 1d defaults.png">
    <img height="100" src="../tests/images/test_264,176_bitmex BTC 1h defaults.png">
    <img height="100" src="../tests/images/test_264,176_bitmex BTC 5m defaults.png">
    <img height="100" src="../tests/images/test_264,176_bitmex ETH 1d defaults.png">
    <img height="100" src="../tests/images/test_264,176_bitmex ETH 1h defaults.png">
    <img height="100" src="../tests/images/test_264,176_bitmex ETH 5m defaults.png">
    <img height="100" src="../tests/images/test_264,176_cryptocom CRO 1d defaults.png">
    <img height="100" src="../tests/images/test_264,176_cryptocom CRO 1h defaults.png">
    <img height="100" src="../tests/images/test_264,176_cryptocom CRO 5m defaults.png">
</div>