<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    </head>
    <body>
        <h1>🤖 BitBot Chart plotting</h1>
        <section>
            <h2>📈 Trigger chart plotting</h2>
           <form method="post">
                <lablel>DataUrl: <input name="data_url"/></lablel>
                <lablel>TargetUrl: <input name="target_url"/></lablel>
                <input type="submit"/>
           </form>
        </section>
    </body>
</html>